@font-face { 
  font-family: 'FrenteH1-Regular';
  src: url('/fonts/FrenteH1-Regular.otf');
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'FrenteH1-Regular';
  text-align: center;
  background-color: #CCCC00;
}

a.menu {
  color: white;
  font-size: 2em;
}

a.menu:hover {
  color: black;
}

p.logo {
  margin: 0.2em 0 0 0;
  line-height: 1em;
}

@media only screen and (min-width: 1024px) {
  p.logo { font-size: 18em !important;}
}

@media only screen and (max-width: 1023px) {
  p.logo { font-size: 11.5em !important; }
}

@media only screen and (max-width: 640px) {
  p.logo { font-size: 7.2em !important; }
}

@media only screen and (max-width: 480px) {
  p.logo { font-size: 4.8em !important; }
  .portrait { display: none; }
}

.pure-img {
  margin: 4px;
}

/* grid/layout debug */
.pure-u-2-24, .pure-u-20-24 {
  border: 1px solid red;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
/**/
